---
# Only the main Sass file needs front matter (the dashes are enough)
---
// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "styles"
/*        "root",
        "base",
        "layout",
        "syntax-highlighting"
*/;


.is-small-screen div[type~=Blog] {
  > .mdl-card.coffee-pic {
    order: 0;
  }
  > .mdl-card.something-else {
    order: -1;
  }
}

div[typeof~=Blog] {
  .mdl-card__media {
    background-image: url('../images/42D9402D-C364-4159-A133-17B6E3308E1C.JPG');
  }
}

article[typeof~=BlogPosting] {
  .mdl-card__media {
    background-image: url('../images/42D9402D-C364-4159-A133-17B6E3308E1C.JPG');
    height: 280px;
  }
  .coffee-pic .mdl-card__media {
    background-image: url('../images/coffee.jpg');
  }
  .something-else {
    overflow: visible;
    z-index: 10;

    .mdl-card__media {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    > button {
      position: absolute;
      top: 0;
      right: 28px;
      transform: translate(0px, -28px);
    }
    .mdl-card__media {
      font-size: 13px;
      font-weight: 500;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;

      img {
        width: 64px;
        height: 64px;
        margin-bottom: 10px;
      }
    }

    .mdl-card__supporting-text {
      background-color: #F5F5F5;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
  .on-the-road-again .mdl-card__media {
    background-image: url('../images/road.jpg');
  }
  .shopping .mdl-card__media {
    background-image: url('../images/shopping.jpg');
  }
  .amazing .mdl-card__title {
    background-color: #263238;
  }
}